html, body{
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100dvh;
    background-color: var(--body-color);
}

.register-container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#register-form{
    background-color: var(--secondary-color);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 470px;
    height: 570px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.register-page-logo{
    width: 100px;
    height: 40px;
    margin-bottom: 15px;
}

.register-heading{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.name-and-surname-divs{
    width: 100%;
    height: auto;
    display: flex;
}

.name-div, .surname-div{
    width: 50%;
}

.name-label, .surname-label, .email-label, .password-label{
    font-size: 18px;
    margin: 20px 0 5px 0;
    font-weight: 600;
}

.name, .surname, .email, .password{
    width: 100%;
    height: 45px;
    padding: 8px;
    cursor: text;
}

.surname-div{ margin-left: 10px; }

.register-button{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    font-size: 25px;
    margin: 15px 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.2s ease;
}

.register-button:hover{
    transform: translateX(5px);
    cursor: pointer;
}

.login{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.login a{
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 600;
}

.login a:hover{
    text-decoration: underline;
}

@media(max-width: 480px){
    #register-form{
        height: 600px;
        max-height: auto;
    }

    .register-page-logo{
        width: 80px;
        height: 30px;
    }
    
    .register-heading{
        font-size: 22px;
        margin-bottom: 0;
    }
    
    .name-and-surname-divs{
        flex-direction: column;
    }
    
    .name-div, .surname-div{
        width: 100%;
        margin-top: 20px;
    }

    .name-label, .surname-label, .email-label, .password-label{
        font-size: 16px;
    }
    
    .name, .surname, .email, .password{
        height: 40px;
        padding: 5px;
    }
    
    .surname-div{ margin-left: 0; }
    
    .register-button{
        height: 40px;
        font-size: 22px;
    }
    
    .login{
        font-size: 15px;
    }
}